.about-me {
  min-height: 100vh;
  justify-content: center;
  margin-right: 150px;
  margin-left: 150px;
}

@media screen and (max-width: 1340px) {
  .about-me {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.about-me-description {
  font-size: 118%;
  font-family: "Karla", sans-serif;
  color: #333;
  margin-top: 25px;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .about-me-description {
    margin-right: 0;
    margin-left: 0;
  }
}

.about-me-description h1 {
  margin-bottom: 20px;
  background: linear-gradient(
    45deg,
    rgba(56, 133, 222, 0.79) 0%,
    rgba(82, 153, 235, 0.74) 27%,
    rgba(123, 137, 209, 0.69) 54%,
    rgba(128, 196, 242, 0.75) 81%,
    rgba(175, 234, 247, 0.78) 93%,
    rgba(175, 234, 247, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 35px;
  font-weight: bold;
}

#profile-pic {
  max-width: 370px;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  #profile-pic {
    max-width: 275px;
    margin-top: 20px;
  }
}

.skills {
  margin-top: 40px;
  font-family: "Karla", sans-serif;
}

.skills h1 {
  margin-bottom: 20px;
  background: linear-gradient(
    45deg,
    rgba(56, 133, 222, 0.79) 0%,
    rgba(82, 153, 235, 0.74) 27%,
    rgba(123, 137, 209, 0.69) 54%,
    rgba(128, 196, 242, 0.75) 81%,
    rgba(175, 234, 247, 0.78) 93%,
    rgba(175, 234, 247, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-weight: bold;
  font-size: 35px;
}

@media screen and (max-width: 992px) {
  .skills h1 {
    text-align: center;
  }
}

.skills-info {
  text-align: center;
  color: #333;
}

.skills-info p {
  line-height: 100%;
  font-size: 23px;
}

.skills-info .icon {
  font-size: 40px;
  color: #a4aee0;
}

.skills-info h3 {
  font-size: 25px;
  font-weight: bold;
}

a {
  color: #6aa4e8;
}

a:hover {
  text-decoration: none;
}
