/*.contact {
  font-family: 'Karla', sans-serif;
  font-size: 130%;
	color: #2f3133;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact  h1 {
	margin-bottom: 20px;
	background: linear-gradient(90deg, rgba(56,133,222,0.79) 0%, rgba(82,153,235,0.74) 27%, rgba(123,137,209,0.69) 54%, rgba(128,196,242,0.75) 81%, rgba(175,234,247,0.78) 93%, rgba(175,234,247,0.8) 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	font-family: 'Karla', sans-serif;
}

.contact li {
  padding: 10px;
	list-style: none;
}

.contact i {
color: #A0AFE2
}

.contact .icon {
	font-size: 80px;
}*/



.contact {
  font-family: 'Karla', sans-serif;
  font-size: 130%;
	color: #2f3133;
	height: 100vh;
}

.contact h1 {
	margin-bottom: 40px;
	background: linear-gradient(240deg, rgba(56,133,222,0.79) 0%, rgba(82,153,235,0.74) 27%, rgba(123,137,209,0.69) 54%, rgba(128,196,242,0.75) 81%, rgba(175,234,247,0.78) 93%, rgba(175,234,247,0.8) 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}

.contact li {
  padding: 10px;
	list-style: none;
}

.contact i {
	color: #A0AFE2
}

.contact .icon {
	font-size: 80px;
}


