.menu {
  font-size: 2em;
  color: #3b4dab;
}

.menu:focus {
  outline: none;
} 

.nav-item {
  color: #3b4dab;
  cursor: pointer;
}

.nav-item:hover {
  color: #7a89d1;
}

.nav-link:hover {
  color: #aedff7;
}

.nav-section {
  background-color: rgb(160, 170, 222, 0.8);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}