.projects {
	min-height: 100vh;
	font-family: 'Karla', sans-serif;
	margin: 30px;
}

.projects h1 {
	margin-bottom: 20px;
	background: linear-gradient(90deg, rgba(56,133,222,0.79) 0%, rgba(82,153,235,0.74) 27%, rgba(123,137,209,0.69) 54%, rgba(128,196,242,0.75) 81%, rgba(175,234,247,0.78) 93%, rgba(175,234,247,0.8) 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: bold;
	text-align: left;
	font-size: 35px;
	font-family: 'Karla', sans-serif;
}

video {
	max-height: 100%;
	max-width: 100%;
}

.card {
	display: grid;
	place-items: center;
	margin-bottom: 15px;
	position: relative;
	width: 100%;
}

.card-img-overlay {
	display: flex;
	align-content: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	padding: 0;
}

.btn.btn-sm {
	font-size: 20px;
	background-color: rgba(101, 161, 230, .8);
	box-shadow: none;
	border-radius: 15px;
	color: white;
	margin-bottom: 5px;
}

.card .text {
	background: black;
	color: white;
	width: 100%;
	text-align: center;
}


















/*
.projects {
	min-height: 100vh;
	font-family: 'Karla', sans-serif;
}

.projects h1 {
	margin-bottom: 20px;
	background: linear-gradient(90deg, rgba(56,133,222,0.79) 0%, rgba(82,153,235,0.74) 27%, rgba(123,137,209,0.69) 54%, rgba(128,196,242,0.75) 81%, rgba(175,234,247,0.78) 93%, rgba(175,234,247,0.8) 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: bold;
	text-align: left;
	font-size: 35px;
}

.card {
	display: grid;
	place-items: center;
	margin-bottom: 15px;
	position: relative;
}

.card-img-overlay {
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	padding: 0;
}

.card .btn.btn-sm {
	font-size: 15px;
	background-color: rgba(101, 161, 230, .8);
	box-shadow: none;
	border-radius: 15px;
}

.card .text {
	background: black;
	color: white;
	width: 100%;
}


*/